:root {
  --margin: 60px;
  --color: #222;
  --bg: #fff;
  --highlight: #FFE800;
  --highlight-height: 6px;
  --opacity-low: 0.5;
  --padding: 32px;
  --font-size: 24px;
  --line-height: 26px;
  --gradient: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.8) 15%), linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 60%);
}

body {
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: 'EB Garamond', serif;
  background: var(--bg);
  color: var(--color);
  margin: 0;
  padding: var(--padding);
}

body.dark {
  --color: #fafafa;
  --bg: #000;
  --opacity-low: 0.4;
  --highlight: #FFE900;
  --highlight-height: 2px;
  --color-digit: 255;
  --gradient: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.6) 15%), linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 80%);
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

a {
  color: #ff6f59;
  text-decoration: none;
}

#blurb {
  margin-top: calc(var(--padding) * 0.15);
  /* margin-bottom: calc(var(--padding) * 2); */
  font-size: 1.25em;
  line-height: 1.2em;
}
.highlight {
  font-style: italic;
  font-weight: 500;
  position: relative;
  white-space: nowrap;
}
.highlight:before {
  height: var(--highlight-height);
  position: absolute;
  z-index: -1;
  left: 0px;
  right: 0px;
  bottom: 4px;
  content: "";
  background: var(--highlight);
}

.section {
  clear: both;
  border-top: 1px solid var(--color);
  margin-bottom: calc(0.75 * var(--padding));
}
.content {
  padding-top: calc(0.7 * var(--padding));
}
  #overview .summary {
    column-gap: 0;
    column-count: 2;
    padding-top: 160px;
  }


.title {
  position: sticky;
  top: 0px;
  float: left;
  width: 33.33%;
  z-index: 1000;
  font-size: 4.5em;
  line-height: 0.9em;
  padding-top: calc(var(--padding) / 2);
}
  #overview .title {
    font-size: 5.2em;
    line-height: .85em;
    margin-bottom: calc(var(--padding) * 0.5);
  }

.row {
  display: flex;
}
.row > div {
  flex: 1;
}
.summary {
  font-size: 1.5em;
  line-height: 1.25em;
}
.days {
  font-style: italic;
  padding: 0 0.25em;
  opacity: var(--opacity-low);
}

.entries {
  padding-top: 0.2em;
}
.entry {
  position: relative;
}
.entry > * {
  display: inline-block;
}
.date {
  font-weight: 500;
  font-size: 0.6em;
  width: 2.5em;
  text-align: right;
  margin-right: 0.8em;
  opacity: var(--opacity-low);
  font-weight: 700;
}

.wip {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.4s;
}
body.loading .wip {
  opacity: 0;
  transform: translate3d(0, 10px, 0);
}

body.loading #loader {
  display: block;
}

#loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 40px;
  margin: -20px 0 -1px 0;
  background: var(--color);
  -webkit-animation: spin .7s ease-in-out 0s infinite;
  -moz-animation: spin .7s ease-in-out 0s infinite;
  animation: spin .7s ease-in-out 0s infinite;
}

#footer {
  margin-top: 2em;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media (max-width: 1040px) {
  body {
    --font-size: 20px;
    --line-height: 24px;
    --padding: 16px;
  }
}
@media (max-width: 720px) {
  body {
    --font-size: 18px;
    --line-height: 22px;
    --padding: 12px;
  }
  #blurb {
    margin-top: calc(var(--padding) * 0.5);
  }
  .summary:before {
    width: 40px;
    height: 1px;
    content: "";
    display: block;
    margin: 16px 0 12px 0;
  }
  #overview .summary:before {
    background: var(--color);
  }
  #overview .summary {
    column-count: 1;
    padding-top: 0px;
  }
  .title {
    font-size: 5em;
    float: none;
    width: 100%;
    text-shadow: 0 0 6px var(--bg), 0 0 12px var(--bg);
  }
  .title:after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: -20px;
    z-index: -1;
    background: var(--gradient);
  }
  .content {
    padding-top: 0;
    margin-top: 40px;
  }
  .summary {
    font-size: 1.8em;
    line-height: 1.2em;
    padding-top: 0px;
  }
  .row {
    flex-direction: column;
  }
  .entries {
    display: none;
  }
  .mobile-hide {
    display: none;
  }
}
