:root {
  --margin: 60px;
  --color: #222;
  --bg: #fff;
  --opacity-low: 0.5;
}

body {
  font-size: 24px;
  line-height: 26px;
  font-family: 'EB Garamond', serif;
  background: var(--bg);
  color: var(--color);
  margin: 0;
  padding: 16px 32px;
}

body.dark {
  --color: #fafafa;
  --bg: #000;
  --opacity-low: 0.4;
}

* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

a {
  color: #ff6f59;
  text-decoration: none;
}

.highlight {
  font-style: italic;
  font-weight: 500;
}
.clear {
  clear: both;
}

.row {
  display: flex;
  padding-top: .65em;
}


#copy {
  margin-bottom: 1em;

}
#copy .highlight {
  font-style: italic;
  font-weight: 500;
  position: relative;
}
#copy .highlight:before {
  height: 2px;
  position: absolute;
  z-index: -1;
  left: 0px;
  right: 0px;
  bottom: 2px;
  content: "";
  background: #FFE800;
}


#link-github {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001;
  margin: 16px 20px;
}
#copy {
  margin-bottom: 1em;

}
#copy .city,
#copy .time {
  font-style: italic;
  font-weight: 500;
  position: relative;
}
#copy .city:before,
#copy .time:before {
  height: 2px;
  position: absolute;
  z-index: -1;
  left: 0px;
  right: 0px;
  bottom: 2px;
  content: "";
  background: #FFE800;
}

#copy .symbol {
  padding-left: 8px;
}

#content .year {
  margin-bottom: 1.5em;
  clear: both;
}
#content .entries {
  padding-top: 0.1em;
}
#content .title {
  position: sticky;
  top: 0px;
  float: left;
  display: flex;
  width: 33.33%;
  z-index: 1000;
  font-size: 4.5em;
  line-height: 0.75em;
  margin-bottom: 8px;
  margin-left: -0.02em;
  padding-top: 16px;
}

#overview #list,
#content .summary {
  font-size: 1.5em;
  line-height: 1.25em;
}

#content .summary,
#content .entries {
  flex: 1;
}

#content .days {
  font-style: italic;
  padding: 0 0.25em;
  opacity: var(--opacity-low);
}
#content .entry {
  position: relative;
}
#content .entry > * {
  display: inline-block;
}
#content .date {
  font-weight: 500;
  font-size: 0.6em;
  width: 2.5em;
  text-align: right;
  margin-right: 0.8em;
  opacity: var(--opacity-low);
  font-weight: 700;
}

#overview {
  border-bottom: 1px solid var(--color);
  margin-bottom: .5em;
}
#overview .caption {
  font-size: 5em;
  line-height: 0.9em;
  float: left;
  position: sticky;
  top: 0;
  width: 33.33%;
  padding-bottom: 0.2em;
  z-index: 1000;
}
#overview #list {
  column-gap: 0;
  column-count: 2;
  padding-top: .15em;
  margin-bottom: .75em;
}

.wip {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.4s;
}
body.loading .wip {
  opacity: 0;
  transform: translate3d(0, 10px, 0);
}

body.loading #loader {
  display: block;
}

#loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 40px;
  margin: -20px 0 -1px 0;
  background: var(--color);
  -webkit-animation: spin .7s ease-in-out 0s infinite;
  -moz-animation: spin .7s ease-in-out 0s infinite;
  animation: spin .7s ease-in-out 0s infinite;
}

#footer {
  margin-top: 2em;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media (max-width: 1080px) {
  body {
    padding: 12px 16px;
  }
  .row {
    padding-top: 0em;
  }
  #overview {
    border-bottom: none;
    margin-bottom: 2em;
  }
  #overview #list {
    margin-bottom: 0;
    margin-top: .2em;
  }
  #content .title,
  #content .caption {
    border-bottom: 1px solid var(--color);
    float: none;
    padding: .1em 0;
    background: var(--bg);
    width: 100%;
  }
  #content .title {
    padding-bottom: .15em;
  }
}

@media (max-width: 640px) {
  body {
    font-size: 18px;
    line-height: 22px;
    padding: 8px 12px;
  }
  #content .summary,
  #overview #list {
    font-size: 1.75em;
    line-height: 1.15em;
    column-count: 1;
  }
  .row {
    display: block;
  }

  #content .year {
    margin-bottom: 0.5em;;
  }
  #content .title {
    display: block;
    width: auto;
    float: none;
    background: var(--bg);
    z-index: 100;
    padding: .2em 0;
    margin-bottom: 0.1em;
  }

  #content .entries {
    padding-left: 0;
    font-weight: 500;
    padding-top: 0.2em;
    column-count: 2;
  }
  #content .date {
    font-size: 0.75em;
    margin-right: .5em;
  }
  #content .nowrap {
    white-space: nowrap;
  }
  #content .days {
    padding: 0 0.15em;
  }

}
